@model MVC_HotelBooking.Models.Phong

@{
    ViewData["Title"] = "Thêm phòng mới";
}

<h2 class="mb-4">Thêm phòng mới</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="TenPhong" class="form-label"></label>
        <input asp-for="TenPhong" class="form-control" />
        <span asp-validation-for="TenPhong" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MaLP" class="form-label">Mã loại phòng</label>
        <input asp-for="MaLP" class="form-control" />
        <span asp-validation-for="MaLP" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="GiaPhong" class="form-label"></label>
        <input asp-for="GiaPhong" class="form-control" />
        <span asp-validation-for="GiaPhong" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TrangThai" class="form-label"></label>
        <input asp-for="TrangThai" class="form-control" />
        <span asp-validation-for="TrangThai" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label">Chọn ảnh phòng</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
