* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("/image/login.png"); /* Thay thế 'background.jpg' bằng đường dẫn của hình ảnh bạn muốn sử dụng */
    background-size: cover; /* Đảm bảo hình ảnh phủ kín màn hình */
    background-position: center center; /* Đặt hình ảnh vào giữa */
    background-attachment: fixed; /* Đảm bảo hình ảnh nền không bị di chuyển khi cuộn trang */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

.form-box {
    width: 100%;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

    button:hover {
        background-color: #e28d04;
    }

p {
    text-align: center;
    font-size: 14px;
}

a {
    color: #f39c12;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
/* Kiểu dáng nút khi bị vô hiệu hóa */
.disabled-button {
    background-color: #cccccc; /* Màu xám nhạt */
    border-color: #cccccc;
    cursor: not-allowed; /* Hiển thị con trỏ không cho phép */
    opacity: 0.7;
}

/* Kiểu dáng nút khi được kích hoạt */
#submit-button:not(.disabled-button) {
    background-color: #007bff; /* Màu xanh dương */
    border-color: #007bff;
    cursor: pointer;
    opacity: 1;
}
/* Nút bị vô hiệu hóa */
.disabled-button {
    background-color: #cccccc; /* Màu xám nhạt */
    border-color: #cccccc;
    cursor: not-allowed; /* Hiển thị con trỏ không cho phép */
    opacity: 0.7;
}

/* Nút được kích hoạt */
.enabled-button {
    background-color: #007bff; /* Màu xanh dương */
    border-color: #007bff;
    cursor: pointer;
    opacity: 1;
    color: white;
}