@model MVC_HotelBooking.Models.TongDoanhThu
@{
    ViewData["Title"] = "Tổng doanh thu";
    Layout = "_Layout_Admin";
}

<h2 class="text-center">Tổng doanh thu</h2>

<p class="fs-4">
    Tổng doanh thu: <strong>@Model.TongTien.ToString("N0") VNĐ</strong>
</p>
