@{
    ViewData["Title"] = "Thống kê doanh thu";
    Layout = "_Layout_Admin";
}

<h2 class="text-center mb-4">Thống kê doanh thu</h2>

<div class="text-center">
    <a asp-action="DoanhThu" class="btn btn-primary m-2">Tổng doanh thu</a>
    <a asp-action="DoanhThuTheoNgay" class="btn btn-success m-2">Doanh thu theo ngày</a>
    <a asp-action="DoanhThuTheoThang" class="btn btn-warning m-2">Doanh thu theo tháng</a>
    <a asp-action="DoanhThuTheoNam" class="btn btn-info m-2">Doanh thu theo năm</a>
</div>
